body
{
    width: 960px;
    background: rgb(122, 134, 141);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

header
{
    background: url(../images/hat.jpg) no-repeat center top / cover;
    height: 100px; 
}

p, h4
{
    color: #051B5E;
}

.hat
{
    width: 120px;
    margin: 0 auto;
}

.logo
{
    height: 50px;
    width: 40px;
    margin-top: 25px;
}

.hat a
{
    color: rgb(199, 215, 80);
    font-size: 30px;
}

.short 
{
    width: 226px;
    height: 22px;
    font-size: 20px;
    margin: 20px 367px;
    text-align: center;
}

.menu
{ 
    padding: 0;
    margin: 0;
    display: block;
}

.menu li
{
    float: left;
    display: block;
}

.menu li a
{
    color: #C73838;
    text-decoration: none;
}

.normal
{
    width: 460px;
    font-size: 20px;
    margin: 20px auto;
    text-align: center;
}

.listOfUsers
{
    height: 222px;
    width: 800px;
    margin: 0 auto;
    border: gray ridge 2px;
    border-collapse: collapse;
}

.listOfNotes
{
    height: 222px;
    width: 200px;
    margin: 0 auto;
    border: gray ridge 2px;
    border-collapse: collapse;
}

caption
{
    font-size: 30px;
    color: #051B5E;
}

th
{
    background-color: #4768CB;
}

td
{
    text-align: center;
}

.avatar
{
    height: 100px;
    width: 100px;
    border-radius: 160px 160px 160px 160px;
}

.userInfo 
{
    width: 226px;
    height: 210px;
    font-size: 20px;
    margin: 20px 367px;
    text-align: center;
}

.big
{
    width: 560px;
    font-size: 20px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    border: gray ridge 2px;
    border-collapse: collapse;
}